body {
    background: url('../img/fondo.png');
    background-color: #eee;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.additionalTop {
    margin-top: 2%;
}

.btn-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

#verificationFingerInformation {
    position: absolute;
    bottom: 0;
    margin-bottom: 5%;
    width: 95%;
}

div > img {
    display: block;
    margin: auto;
}

.panel-parent {
    height: 480px;
}

.cedulaVencida {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

li.active a {
    font-weight: bold;
    color: #337AB7 !important;
}

li span {
    font-size: 16px;
    font-weight: bold;
}

li.active span {
    -webkit-animation: KEYFRAME-NAME 1s infinite;
    -moz-animation: KEYFRAME-NAME 1s infinite;
    -o-animation: KEYFRAME-NAME 1s infinite;
    animation: KEYFRAME-NAME 1s infinite;
}

/*#verification-feedback {
	line-height: 0px;
	-webkit-animation: FEEDBACK-RESULT 1s infinite;
	-moz-animation:    FEEDBACK-RESULT 1s infinite;
	-o-animation:      FEEDBACK-RESULT 1s infinite;
	animation:         FEEDBACK-RESULT 1s infinite;
    }*/

    @-webkit-keyframes KEYFRAME-NAME {
        0% {
            color: #5bc0de;
            font-size: 16px;
        }

        50% {
            color: #008cba;
            font-size: 18px;
        }

        100% {
            color: #5bc0de;
            font-size: 16px;
        }
    }

    @-moz-keyframes KEYFRAME-NAME {
        0% {
            color: #5bc0de;
            font-size: 16px;
        }

        50% {
            color: #008cba;
            font-size: 18px;
        }

        100% {
            color: #5bc0de;
            font-size: 16px;
        }
    }

    @-o-keyframes KEYFRAME-NAME {
        0% {
            color: #5bc0de;
            font-size: 16px;
        }

        50% {
            color: #008cba;
            font-size: 18px;
        }

        100% {
            color: #5bc0de;
            font-size: 16px;
        }
    }

    @keyframes KEYFRAME-NAME {
        0% {
            color: #5bc0de;
            font-size: 16px;
        }

        50% {
            color: #008cba;
            font-size: 18px;
        }

        100% {
            color: #5bc0de;
            font-size: 16px;
        }
    }

/*@-webkit-keyframes FEEDBACK-RESULT {
  0%   { color: #5bc0de; font-size: 25px; }
  50%  { color: #008cba; font-size: 27px; }
  100% { color: #5bc0de; font-size: 25px; }
}
@-moz-keyframes FEEDBACK-RESULT {
  0%   { color: #5bc0de; font-size: 25px; }
  50%  { color: #008cba; font-size: 27px; }
  100% { color: #5bc0de; font-size: 25px; }
}
@-o-keyframes FEEDBACK-RESULT {
  0%   { color: #5bc0de; font-size: 25px; }
  50%  { color: #008cba; font-size: 27px; }
  100% { color: #5bc0de; font-size: 25px; }
}
@keyframes FEEDBACK-RESULT {
  0%   { color: #5bc0de; font-size: 25px; }
  50%  { color: #008cba; font-size: 27px; }
  100% { color: #5bc0de; font-size: 25px; }
  }*/

  .panel-default > .panel-heading {
    color: #008cba;
    font-weight: bold;
    text-align: center;
}

#stepContext {
    height: 40px;
}

#new-verification {
    margin-top: 30px;
}

#verificationIcon {
    margin-top: 30px;
}

/*.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background-color: #222222 !important;
	color: snow!important;
    }*/

    .image-container {
        float: left;
        width: 48%;
        margin-left: 5px;
        margin-top: 10px;
    }


    .imagen {
        display: block;
        height: 90px;
        margin: 40px auto 0 auto;
    }

    .row-finger {
        margin-left: 115px;
        margin-top: -50px;
    }

    #verify {
        margin-top: 30px;
    }

    .panel2 {
        min-width: 300px;
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .panel2-gif {


        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .panel-default2 {
        border-color: #ddd;
    }

    .panel-default2 > .panel-heading2 {
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }

    .panel-heading2 {
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .panel-body2 {
        padding: 15px;
        min-height: 300px;
    }

    .feedback *{
        color: black;
        font-weight: 700;
    }
    .feedback.blinking *{
        color: #008cba;
        font-weight: 900;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 4px 0px;
        border-radius: 15px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
        border: solid 3px #cccccc;
    }

    .nistIndexDiv p{
        text-align: right;
        position: relative;
        top: -20;
        right: 25;
    }

    #error, #info, #success{
        display: none;
    }

    #info-persona input {
        padding: .4em 1em;
    }

    .loading {
      position: fixed;
      z-index: 1005;
      height: 2em;
      width: 2em;
      overflow: show;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  }

  /* Transparent Overlay */
  .loading:before {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.3);
  }

  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
      /* hide "loading..." text */
      font: 0/0 a;
      color: transparent;
      text-shadow: none;
      background-color: transparent;
      border: 0;
  }

  .loading:not(:required):after {
      content: '';
      display: block;
      font-size: 10px;
      width: 1em;
      height: 1em;
      margin-top: -0.5em;
      -webkit-animation: spinner 1500ms infinite linear;
      -moz-animation: spinner 1500ms infinite linear;
      -ms-animation: spinner 1500ms infinite linear;
      -o-animation: spinner 1500ms infinite linear;
      animation: spinner 1500ms infinite linear;
      border-radius: 0.5em;
      -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
      box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  }