body {
  background: #333;
  height: 100%;
}
.container {
  max-width: 1200px;
  margin: 40px auto;
}
.wrapper {
    background: transparent;
    padding: 20px;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    width: 320px;
    margin-bottom: 20px;
    margin-top: -135px;
    margin-left: 80px;
}
.tickmark .circle {
  stroke-dasharray: 160px;
  stroke-dashoffset: 160;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: rgb(59, 179, 76);
  fill: none;
  animation: stroke 0.4s cubic-bezier(0.5, 0, 0.35, 0.5) forwards;
}
.tickmark {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  margin: 0 auto;
  stroke-miterlimit: 10;
  stroke: #a5dc85;
  box-shadow: inset 0px 0px 0px #37a546;
  animation: scale 0.2s ease-in-out 0.3s both;
}
.tickmark .circle {
  stroke-dasharray: 160;
  stroke-dashoffset: 160;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #a5dc85;
  fill: none;
  animation: stroke 0.4s cubic-bezier(0.5, 0, 0.35, 0.5) forwards;
}
.tickmark .tick {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.5, 0, 0.35, 0.5) 0.3s forwards;
}
.tickmark .tick.late {
  animation: stroke 0.2s cubic-bezier(0.5, 0, 0.35, 0.5) 0.45s forwards;
}
.crossmark {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  margin: 0 auto;
  stroke-miterlimit: 10;
  stroke: #ea5f5b;
  box-shadow: inset 0px 0px 0px #ea5f5b;
  animation: scale 0.2s ease-in-out 0.3s both;
}
.crossmark .circle {
  stroke-dasharray: 160;
  stroke-dashoffset: 160;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #ea5f5b;
  fill: none;
  animation: stroke 0.4s cubic-bezier(0.5, 0, 0.35, 0.5) forwards;
}
.crossmark .cross {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.5, 0, 0.35, 0.5) 0.3s forwards;
}
.crossmark .cross.late {
  animation: stroke 0.2s cubic-bezier(0.5, 0, 0.35, 0.5) 0.45s forwards;
}
.infomark {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  margin: 0 auto;
  stroke-miterlimit: 10;
  stroke: #337ab7;
  box-shadow: inset 0px 0px 0px #337ab7;
  animation: scale 0.2s ease-in-out 0.3s both;
}
.infomark .circle {
  stroke-dasharray: 160;
  stroke-dashoffset: 160;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #f8bb86;
  fill: none;
  animation: stroke 0.4s cubic-bezier(0.5, 0, 0.35, 0.5) forwards;
}
.info {
  stroke: none;
  opacity: 1;
  fill: #f8bb86;
  animation: fade 0.2s ease-in-out 0.3s both;
}
h2 {
  text-align: center;
  font-family: sans-serif;
  color: #337ab7;
  font-weight: 100;
  font-size: 20px;
  margin-top: 20px;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
